html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
    padding: 16px 60px;

    border: none;
    background: $orange;
    border-radius: 4px;
	cursor: pointer;

    color: $white;

    font-family: 'Whitney', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;

}

.btn--big {
    margin-top: 16px;
    padding: 16px 160px;
}

.btn:hover {
    background: darken($color: $orange, $amount: 5);
}




